extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to detail
  else
    - let _id = toShow._id
    - let ball_type = toShow.ball_type
    - let cost = toShow.cost
    - let material = toShow.material

    div
      div.row
        div(class='ballAttr mr-3') Ball id is:
        div #{_id}

      div.row
        div(class='ballAttr mr-3') Ball type is:
        div #{ball_type}

      div.row
        div(class='ballAttr mr-3') Ball cost is:
        div #{cost}

      div.row
        div(class='ballAttr mr-3') Ball material is:
        div #{material}
