extends layout

block content
  h1= title
  - var Balls = results

  div(class="container-fluid")
    div
      each item in Balls
        - let destination = `dispatch(\"/Balls/update?id=${item._id}\")`
        div(class="row-sm-2",class="m-1") Ball is of #{item.ball_type} type, costs #{item.cost} $ and is made of #{item.material} material.
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path
    }


     

